body {
    background-color: #dedede;
    font-family: 'Open Sans', sans-serif;
    color: #3a3a3a;
    text-align: center;
}
div.container {
    margin-top: 100px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
